*{
    margin: 0;
    padding: 0;

}
body{
    background:#000103;
}
#home img{
    display: block;
    margin: 100px auto;
}

#home button a{
    text-decoration: none;
    font-size: 2rem;
    color: #F00A0D;
    
}

#home button{
    background:transparent;
    border-radius:10px;
    border:2px solid #F00A0D;
    padding: 15px;
    display: block;
    margin: 100px auto;
}

#home button:hover{
    transform:  scale(1.05);
    transition:.5s
}

#eleven h1{
    text-align: center;
    font-size: 5rem;
}

#eleven h1 a{
    text-decoration: none;
    color: #ddd;
}

#eleven button{
    border-radius: 10px;
    width: 200px;
    height : 50px;
    margin-left: 41px;
    font-size:1.5rem;
    font-weight: bold;   
}

#eleven img{
    display:block;
    margin: 25px auto;
    border-radius: 50px;
}

#botoes{
    display: flex;
    margin: 0 auto;
    margin-top:75px;
    width:1000px;
}

.rage button{
    border: none;
}

.happy button{
    border: none;
}

.sad button{
    border: none;
}

.angry button{
    border: none;
}

.rage button:hover{
    transition: .5s;
    background:#db0f00;
    cursor:pointer;
    color: #ddd;
    border: 2px solid black;
}

.angry button:hover{
    transition: .5s;
    background:#B8331F;
    cursor:pointer;
    color: #ddd;
    border: 2px solid black;
}

.sad button:hover{
    transition: .5s;
    background:#7845C7;
    cursor:pointer;
    color: #ddd;
    border: 2px solid black;
}

.happy button:hover{
    transition: .5s;
    background:#533E14;
    cursor:pointer;
    color: #ddd;
    border: 2px solid black;
}

audio{
    width:0px
}

.display_none{
    display:none;
}



