*{
    margin: 0;
    padding: 0;
}
body{
    background:#000103;
}
#home img{
    display: block;
    margin: 100px auto;
}

#home button a{
    text-decoration: none;
    font-size: 2rem;
    color: #F00A0D;
    
}

#home button{
    background:transparent;
    border-radius:10px;
    border:2px solid #F00A0D;
    padding: 15px;
    display: block;
    margin: 100px auto;
}

#home button:hover{
    transform:  scale(1.05);
    transition:.5s
}

#eleven h1{
    margin-top: 20px;
    color: #ddd;
    text-align: center;
    font-size: 5rem;
}

#eleven button{
    border-radius: 10px;
    border:none;
    width: 200px;
    height : 50px;
    margin-left: 37px;   
}

#eleven button a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size:1.5rem;
    font-weight: bold;
}

#eleven img{
    display:block;
    margin: 25px auto;
    border-radius: 50px;
}

#botoes{
    margin: 0 200px;
}

.rage button:hover{
    transition: .5s;
    background:#9E4527
}
